#notes {
	height: 100vh;
}

.row {
	height: 100%;
}

.options {
	background-color: #26262B;

	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.sidebar-divide {
	padding-top: 5vh;
}

.center-notes {
	display: inline-block;
	font-family: "Avenir Next" !important;
	left: 22%;
	padding-top: 3vh;
	position: relative;
	text-align: justify;
}

.main-notes h3 {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 4vh;
	padding-top: 6vh;
}

.summary {
	background-color: #CC081F;
	cursor: pointer;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.summary:hover {
	background-color: #CC081F;
}

.full {
	cursor: pointer;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.full:hover {
	background-color: #CC081F;
}

.translate {
	cursor: pointer;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.translate:hover {
	background-color: #CC081F;
}

.sidebar-image {
	width: 10%;
	height: auto;
	display: inline;
}

.sidebar-text {
	color: #e2e2e2;
	display: inline;
	font-family: "Avenir Next" !important;
	font-size: 12px;
	padding-left: 2vw;
}
